//import fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

//color vars
$primary-20: #EEE5FF;
$primary-100: #6c63ff;
$dark: #3f3d56;
$light: #91919F;
$light-80: #FCFCFC;
$red: #FD6F7A;
$green: #65D1AA;