// styles.scss
@import 'styles/variables';
@import 'styles/reset';
@import 'styles/helpers';

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $light;
}

a {
  color: $primary-100;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  padding: 0 2rem;
  margin: 0 auto;
  height: 100vh;
}
  